@media screen and (max-width: 768px) {
    section#content {
        flex-direction: column;
    }
    .box {

        width: 100vw;
    }

    .box .top {
        height: 15vh;
        width: 100vw;
    }

    .box .bottom {
        height: 6vh;
        width: 100vw;
    }
}